{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
    .topscore {float: right;}
    .score {
        font-size: 24pt;
        text-align: center;
    }
    .points {
        font-size: 70pt;
        text-shadow: 0 0 19px #88F, 0 0 38px #448,0 0 75px black, 0 0 150px black;
    }
    .answer {
        padding: 0px 10px;
        border: 2px solid grey;
        margin-bottom: 4px;
    }
</style>
{% endblock %}

{% block content %}

<div class="topscore">
    <h3>Top Scores</h3>
    <ul>
        {% for top in topscores %}<li><strong>{{ top.total_score }}</strong> {{ top.name }}</li>
        {% endfor %}
    </ul>
</div>
<div class="score">
    You scored
    <div class="points">{{ session.total_score }}</div>
    point{{ session.total_score|pluralize }}!
    <div class="rank">
        You score is rank #{{ rank }} of {{ total_plays }}
    </div>
    <a href="{% url quiz-intro session.quiz.slug %}">Restart</a>
</div>
<div class="answers">
    {% for response in session.answered %}
    <div class="answer">
        {{ response.answered_on|date:"h:i:s a" }}: {{ response.question.content|striptags|safe }}
        {% if response.score %}<strong>{{ response.answer }}</strong>
        {% else %}<strike>{{ response.answer }}</strike>{% endif %}
        <ul>
        {% for correct in response.get_correct_answers %}
            <li>{{ correct.content|safe }} - {{ correct.percent_correct }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}